@import "tailwindcss";
@import "cesium/Build/Cesium/Widgets/widgets.css";

body {
  margin: 0;
  font-family: system-ui, sans-serif;
}

/* 隐藏 Cesium 默认的 UI 控件 */
.cesium-viewer-bottom,
.cesium-viewer-timelineContainer,
.cesium-viewer-animationContainer,
.cesium-viewer-fullscreenContainer,
.cesium-viewer-vrContainer,
.cesium-viewer-toolbar,
.cesium-viewer .cesium-widget-credits {
  display: none !important;
}
